
<div class="container">
    <div class="row justify-content-md-center text-center pb-lg-4 mb-lg-5 mb-4">
      <div class="col-md-8 text-center w-md-50 mx-auto mb-0 ">
        <h2 class="mb-md-2">Projects</h2>
        <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
      </div>
    </div>
      <!-- Feature Blocks -->
      <div class="row"> 
   
            <% project.forEach(function(name) { %>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                   <img src=<%= name.img %> class="card-img-top" alt="img">
                   <div class="card-body">
                     
                    <h5><%= name.title %></h5>
                     <p class="card-text"><%= name.info %></p>
                   </div>
                 </div>
             </div>

            <% }); %>
      <!-- End Feature Blocks -->  
    </div>